@model FollowMe.Web.ViewModels.Posts.PostsCreateModel
<h1 class="text-center suls-text-color">Post - @Model.UserUserName </h1>
<form asp-controller="Posts" asp-action="Create" method="post" id="AddPostToUser">
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label for="content" class="suls-text-color text-right">Submit your content here:</label>
        <textarea class="form-control" id="content" name="content" rows="10"></textarea>
    </div>
    <input class="invisible" id="userId" name="userId" value="@Model.UserId" />
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Add post" />
    </div>
</form>