@model FollowMe.Web.ViewModels.Posts.PostsCreateModel
<h1 class="text-center suls-text-color">Post - @Model.UserUserName </h1>
<form class="mx-auto half-width col-5" method="post" action="Create">
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label for="content" class="suls-text-color text-right">Submit your content here:</label>
        <textarea class="form-control" id="content" name="content" rows="10"></textarea>
    </div>
    <input class="invisible" id="UserId" name="UserId" value="@Model.UserId" />
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>