@model FollowMe.Web.ViewModels.Chats.ChatMessages
<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fab fa-facebook-messenger"></i>&nbsp; Public Talk
    </h2>
    <div class="row">
        <div class="col-md-12" id="chat">
        </div>
    </div>
</div>
@foreach (var message in Model.Messages.OrderBy(m => m.When))
{
    var mes = message.UserUserCharacteristicsFullName + " " + (message.Text) + " " + message.When;
    @mes

    <hr />
}
<div class="col-md-12">
    <form asp-action="Create"
          data-ajax-begin="clearInputField" data-ajax-complete=""
          data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
          data-ajax="true" data-ajax-method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input name="Text" class="form-control" id="messageText" onkeyup='saveValue(this)'/>
        </div>
        <div class="form-group">
            <input type="submit" value="Send" id="submitButton" class="btn btn-primary" />
            <a class="btn btn-primary" href="/Chats/Chat">Refresh</a>
        </div>
        <input type="hidden" value="toshko" name="userName" />
    </form>
</div>

@if (this.User.Identity.IsAuthenticated)
{
    <script>
    const userName = "@ViewBag.CurrentUserName";
    </script>
}

@section Scripts
{
    <script>

        $.ajax({
            url: "/Chats/Chat",
            context: document.body
        }); setInterval(function () {
            location.reload();
        }, 10000);
    </script>
    <sript src="~/signalr/signalr.min.js"></sript>
    <sript src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></sript>
    <sript src="~/js/chat.js"></sript>
    <sript src="~/js/signrReqHandler.js"></sript>

    <script type="text/javascript">
        document.getElementById("messageText").value = getSavedValue("messageText");    // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e) {
            var id = e.id;  // get the sender's id to save it .
            var val = e.value; // get the value.
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
        }

        //get the saved value function - return the value of "v" from localStorage.
        function getSavedValue(v) {
            if (!localStorage.getItem(v)) {
                return "";// You can change this to your defualt value.
            }
            return localStorage.getItem(v);
        }
    </script>
}
