@model FollowMe.Web.ViewModels.Admins.AdminViewModel
@foreach(var post in Model.Posts)
{
    @post.SentByUserCharacteristicsFullName
    @post.Title
    @post.Content
    <a class="btn btn-danger" href="/Admins/DeletePost?id=@post.Id">DELETE</a>
    <hr />
}