@using Microsoft.AspNetCore.Identity
@using FollowMe.Data.Models
@model FollowMe.Web.ViewModels.Comments.CommentsCreateModel
<h1 class="text-center suls-text-color">Comment to post</h1>
<form asp-controller="Posts" asp-action="Create" method="post" id="AddCommnetToPost">
    <div class="top-border-line primary-separator"></div>
    <div class="form-group">
        <label for="content" class="suls-text-color text-right">Submit your content here:</label>
        <textarea class="form-control" id="content" name="content" rows="10"></textarea>
    </div>
    <input class="invisible" id="postId" name="postId" value="@Model.PostId" />
    <div class="top-border-line primary-separator"></div>
    <div class="button-holder d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Add comment to post" />
    </div>
</form>