@model FollowMe.Web.ViewModels.Photos.PhotosAllViewModel
@using Microsoft.AspNetCore.Identity;
@using FollowMe.Data.Models
@inject UserManager<ApplicationUser> user
@{
    var userId = this.user.GetUserId(this.User);
}
<form>
    <div class="row mt-2 mb-4">
        @foreach (var photo in Model.Photos)
        {
            <div class="col-3">
                <img src="@photo.ImagePath" id="personalPhotos" />
                <a class="btn btn-danger" href="/Photos/Delete?id=@photo.Id">DELETE</a>
                <a class="btn btn-primary" href="/Photos/Photo?id=@photo.Id&userId=@userId">Comments (@photo.CommentsCount)</a>
            </div>

        }
    </div>
    <div><input class="invisible" id="userId" name="userId" value="@userId" /></div>
    <div><input class="invisible" id="photoId" name="photoId" value="@Model.Id" /></div>
</form>