@model FollowMe.Web.ViewModels.Photos.PhotosAllViewModel
<div class="row mt-2 mb-4">
    @foreach (var photo in Model.Photos)
    {
        <div class="col-3">
            <img src="@photo.ImagePath" id="personalPhotos" />
        </div>
    }
</div>
<div><input class="invisible" id="userId" name="userId" value="@Model.UserId" /></div>