@model FollowMe.Web.ViewModels.Photos.CreatePhotoInputModel
<div class="form-group">
    <label asp-for="Images"></label>
    <input asp-for="Images" class="form-control" />
    <span asp-validation-for="Images" class="text-danger"></span>
</div>
