@model FollowMe.Web.ViewModels.Photos.AllPhotoViewModel
<div class="justify-content-center">
    <img src="@Model.ImagePath" id="singlePhoto" />
    <div><input class="invisible" id="photoId" name="photoId" value="@Model.Id" /></div>
</div>

