@model FollowMe.Web.ViewModels.Photos.AllPhotoViewModel
<div class="text-sm-center">
    <img src="@Model.ImagePath" id="singlePhoto" />
    <div><input class="invisible" id="photoId" name="photoId" value="@Model.Id" /></div>
</div>
<div class="row justify-content-center">
    <a href="/Comments/CreatePhotoComment?id=@Model.Id&userId=@Model.UserId" class="btn btn-primary btn-lg text-center">Create comment</a>
</div>
<hr />
<div>
    @foreach (var comment in Model.Comments)
    {
        @comment.Content
        @comment.CreatedOn
    }
</div>

